@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --transition: all 300ms ease-in-out;
    --dark-color-primary: #101113;
    --light-color-primary: #eaec5c;
    --borders: #e9ec5c4b;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
   
}

/* Navbar  */
#nav{
  width: 100%;
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: space-around;
  gap: 30%;
  background-color: var(--dark-color-primary);
  color: var(--light-color-primary);
  border-bottom: solid 2px var(--borders);
  
}

#nav #bars{
  display: none;
}

#nav #lists{
  display: block;
}

#nav #lists ul{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 40%;
  list-style: none;
  font-size: 20px;
  background-color: #101113;
}
#nav #lists ul li a{
  color: var(--light-color-primary);
  text-decoration: none;
}

#nav #lists ul li a:hover, #nav #lists ul li a:active{
  color: var(--light-color-primary);
  border-bottom: 1px solid var(--light-color-primary);
}

#nav #logo{
  font-size: 25px;

}





/* Front Page  */
#front-page{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15%;
  padding: 10%;
  background-color: var(--dark-color-primary);
  color: var(--light-color-primary);
  border-bottom: solid 2px var(--borders);
}

#front-page h1{
  font-size: 50px;
}

#front-page #left{
  text-align: center;
}
#front-page #right{
  width: 50%;
}

#profile-img{
  width: 200px;
  border-radius: 5px;
  /* filter: brightness(80%); */
}



/* Recent Works  */
#recent-works{
  background-color: var(--dark-color-primary);
  color: var(--light-color-primary);
  border-bottom: solid 2px var(--borders);
}

#recent-works #left h1{
  font-size: 50px;
  text-align: center;
}

#recent-works #recent-gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  gap: 1%;
  width: 90%;
  margin-inline: auto;
  text-align: center;

}
#recent-works a{
  color: var(--light-color-primary);
}

.column{
  columns: 4;
  position: relative;
}


.photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(95%);
}

/* Popup  */

.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
  height:100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.popup-image span{
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  cursor: pointer;
  z-index: 100;
}

.popup-image img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  object-fit: cover;
  width: 20%;
  filter: brightness(110%);
}

/* Contact Us  */


#contact-us{
  width: 100%;
  background-color: var(--dark-color-primary);
  color: var(--light-color-primary);
  border-bottom: solid 2px var(--borders);
}
#contact-us #left h1{
  font-size: 50px;
  text-align: center;
}
#contact-us #right {
  margin-inline: auto;
  width: 80%;
  padding: 2%;
}
#contact-us #right input{
  width: 100%;
  font-size: 24px;
  padding: 1%;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--light-color-primary);
  outline: none;
  color: white;
  font-family: 'Poppins', sans-serif;
}
#contact-us #right button{
  width: 50%;
  font-size: 24px;
  padding: 1%;
  background: transparent;
  border: 1px solid var(--borders);
  margin: 2.5%;
  margin-left: 25%;
  outline: none;
  color: rgba(255, 255, 255, 0.459);
  font-family: 'Poppins', sans-serif;
}

#contact-us #right button:hover{
  background: var(--light-color-primary);
  color: var(--dark-color-primary);
}

/* Footer  */

#footer{
  width: 100%;
  background-color: var(--dark-color-primary);
  color: rgba(255, 255, 255, 0.925) ;
  font-size: 22px;
  padding: 1%;
}

#footer ul li a{
  color: rgba(255, 255, 255, 0.925);
}

#footer ul{
  display: flex;
  list-style: none;
  gap: 5%;
  align-items: center;
  justify-content: center;
}


#footer ul li a:hover{
  color: var(--light-color-primary);
}

@media (width < 1200px) {
  .column{
    columns: 3;
  }

  .popup-image img{
    width: 30%;
  }

  

  #nav{
    gap: 70%;
  }

  #nav #bars{
    display: block;
  }
  #nav #bars button{
    color: var(--light-color-primary);
    font-size: 25px;
    background: none;
    border: none;
  }
  #nav #lists{
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgb(59, 59, 61);
    opacity: 94%;
    top: 10%;
  }

  #nav #lists ul{
    flex-direction: column;
    height: 40dvh;
    gap: 5%;
  }
 
  #front-page{
    flex-direction: column;
    align-items: center;
  }
  #front-page #right{
    width: 100%;
  }

  #recent-works{
    padding: 5%;
  }
  #recent-works #recent-gallery{
    width: 100%;
  }

  #contact-us #right{
    width: 100%;
  }
  #contact-us{
    padding: 5%;
  }
  
}

@media (width < 768px) {
  body h1{
    font-size: 25px !important;
  }
  body p{
    font-size: 15px !important;
  }
  body input{
    font-size: 17px !important;
  }
  body h4{
    font-size: 10px !important;
  }

  .popup-image img{
    width: 50%;
  }

}





@media (width < 480px) {
  body h1{
    font-size: 23px !important;
  }
  body p{
    font-size: 13px !important;
  }
  body input{
    font-size: 15px !important;
  }
  body h4{
    font-size: 10px !important;
  }

}


